// override the scroll to avoid problem in the bottom of sheets
.starwarsffg.sheet {

    &.ffg-alternative {
        .window-content {
            form {
                overflow-y: auto;
                overflow-x: hidden;
                height: inherit;
                scrollbar-color: var(--color-background-1) var(--color-scrollbar-track);

                .sheet-body {
                    height: unset;

                    .skillsTablesGrid {
                        overflow: hidden;
                    }

                    .tab {
                        overflow: hidden;
                    }
                }

                .popout-editor {
                    scrollbar-color: var(--color-background-1) var(--color-scrollbar-track);
                }
            }
        }

    }
}