@use "../abstracts" as *;

.starwarsffg.sheet.actor {
    min-width: 700px;
    min-height: 550px;

    &.ffg-alternative {
        .window-content {
            color: var(--color-text-1);
            display: block;
            padding: 0;

            .sheet-header {

                .header-fields {
                    padding: 0;

                    .details-block {
                        .holo {
                            width: 120px;
                        }

                        .header-description-block {
                            background: rgba(0, 0, 0, 0.05);
                        }
                    }
                }

                .stats-block {
                    margin-top: var(--font-size-14);                    
                }

            }

            .sheet-body {
                padding: 0;
                margin: 0;
                border-top: none;

                .tab {
                    .talent-list {
                        margin: 0;

                    }

                    .skillsTablesGrid {
                        .skillColumnGrid {
                            border: none;
                            background: none;

                            &:first-child {
                                margin-right: 0.5%;
                            }

                            &:last-child {
                                margin-left: 0.5%;
                            }

                            .skillsHeader div {
                                background-color: unset;
                                color: var(--color-text-2);

                            }
                        }
                    }
                }
            }
        }
    }
}