@use "../abstracts" as *;

.starwarsffg.sheet.item {
    min-width: 450px;
    min-height: 550px;

    &.ffg-alternative {
        @include background-datapad(30px, 25px, 40px, 25px, $image: "../../artwork/datapad-items.webp", $outset: 20px 0px 10px 0px);

        .window-content {
            background: var(--color-background-window-content);
            color: var(--color-text-1);
            display: block;
            padding: 0;
            border-radius: 0 0 10px 10px;

            nav.sheet-tabs {
                &.tabs {
                    background-image: url("../../artwork/nav-items.webp");
                    background-size: cover;
                }
            }

            .sheet-header {

                .header-fields {
                    padding: 0;

                    .details-block {

                        .profile-block {
                            margin: 0 auto;
                        }
                    }

                    .characteristics {
                        height: unset;
                        margin-top: var(--grid-gap);

                        .grid {

                            .characteristic-item {
                                margin: unset;                                
                                .characteristic {
                                    border-radius: 50%
                                }
                            }
                        }

                    }

                    .firing-arcs {
                        div {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            flex-direction: row;
                        }
                    }
                }                
            }

            .sheet-body {
                padding: 0;
                margin: 0;
                border-top: none;
                background: none;
            }

            .tox .tox-edit-area__iframe {
                position: relative;
            }
        }
    }
}