@use "../abstracts" as *;

@use "../components/ffg-block";
@use "../components/navigation";
@use "../components/form";

.journal-sheet,
.monks-enhanced-journal {
    @include background-datapad($image: "/modules/ffg-star-wars-alternative-ui/artwork/datapad-single.webp", $outset: 5px 5px 5px 75px);

    blockquote:not(h6 + p + ul + blockquote, h6 + p + blockquote, h6 + ul + blockquote, h6 + blockquote) {
        background: url("/modules/ffg-star-wars-alternative-ui/artwork/datapad-quote.webp");
        padding-left: 25px !important;
        color: var(--color-text-light-primary);
    }


    .journal-sheet {
        @include background-datapad(0, 0, 0, 0, 0, 0, "none");

        .journal-sheet-container {
            .sidebar.directory {
                background-color: var(--color-cool-5-90);
            }
        }
    }

    .enhanced-journal-header {
        background-color: black;

        .tab-bar .journal-tab {
            background: var(--apsj-black-light);
            color: var(--color-text-light-highlight);

            &.active {
                color: var(--mej-header-tab-color);
                background: var(--mej-header-tab-active);            
            }
        }
    }

    .enhanced-journal-footer {
        background-color: black;
    }


}