body {
        // BEGIN - From foundry VTT default
        --color-text-selection-bg: #781428;
        --color-scrollbar: #782e22;
        --color-scrollbar-track: transparent;
        --color-scrollbar-border: #ff6400;
        // END - From foundry VTT default



        // BEGIN - From starwarsffg system
        --color-light-1: ghostwhite;
        // END - From starwarsffg system

        --color-background-window-content: transparent;
        --grid-gap: var(--font-size-10);
        --holo-color: 120, 150, 170;
        --color-text-1: #191813;
        --color-text-2: #fff;
        --color-background-1: rgba(120, 20, 40, 0.5);
        --color-background-2: #e7d1b1;
}