.journal-sheet,
.starwarsffg.sheet {
    a.content-link {
        color: var(--color-hyperlink);
        background: transparent;
        padding: 0px;
        border: 0px;

        &.broken {
            text-decoration: line-through;
        }

        i {
            color: var(--color-hyperlink);
        }
    }
}