.starwarsffg.sheet.actor {
    &.ffg-alternative{
        input,
        textarea {
            font-size: var(--font-size-12);
            font-family: var(--font-body);

            &:focus {
                background-color: var(--color-text-selection-bg);
                color: var(--color-text-selection);
            }
        }
    }
}