.starwarsffg.sheet {
    &.ffg-alternative {

        input,
        textarea,
        select {
            font-size: var(--font-size-12);
            font-family: var(--font-body);
            border: none;
            margin-bottom: 2px;

            &:focus {
                background-color: var(--color-text-selection-bg);
                color: var(--color-text-selection);
            }

            +label {
                font-size: var(--font-size-12);
                font-family: var(--font-body);
            }

            &[type="checkbox"] {
                height: 20px;
            }
        }

        label {
            align-self: center;
        }

        option,
        optgroup {
            background: inherit;
        }

        [class*=item-sheet-] {
            .characteristic-item .characteristic .characteristic-value {
                input {
                    &:focus {
                        background-color: var(--color-text-selection-bg);
                        //color: var(--color-text-selection);
                    }
                }

            }
        }


        .vehicle {
            .defense-block {
                .defense-value {
                    input {
                        &:focus {
                            background-color: var(--color-text-selection-bg);
                            color: var(--color-text-selection);
                        }
                    }
                }
            }
        }
    }
}