.starwarsffg.sheet {
    &.ffg-alternative {

        input,
        textarea,
        select {
            font-size: var(--font-size-12);
            font-family: var(--font-body);
            border: none;
            margin-bottom: 2px;
            color: var(--color-text-1);

            &:focus {
                background-color: var(--color-form-background-focus);
                color: var(--color-form-text-focus);
            }

            +label {
                font-size: var(--font-size-12);
                font-family: var(--font-body);
            }

            &[type="checkbox"] {
                height: 20px;
            }
        }

        label {
            align-self: center;
        }

        option,
        optgroup {
            background: inherit;
        }

        [class*=item-sheet-] {
            .characteristic-item .characteristic .characteristic-value {
                input {
                    &:focus {
                        background-color: var(--color-form-background-focus);
                    }
                }

            }
        }


        .vehicle {
            .characteristic-item .characteristic .characteristic-value {
                input {
                    &:focus {
                        border-radius: 50%;
                    }

                }

            }

            .defense-block {
                .defense-value {
                    input {
                        &:focus {
                            background-color: var(--color-form-background-focus);
                            color: var(--color-form-text-focus);
                        }
                    }
                }
            }
        }

        .item-sheet-forcepower,
        .item-sheet-signatureability {
            .talent-header {
                input {
                    &[type="text"] {
                        background-color: unset;
                        color: var(--color-text-2);
                        padding: 0;
                        margin: 0;
                        height: unset;
                        max-width: calc(100% - 25px);
                    }
                }
            }

            .talent-required {
                input {
                    width: 1rem;
                    height: 0.75rem;
                    border: 0;                               
                }
            }

        }
    }
}