@use "../abstracts" as *;

.starwarsffg.sheet {
    &.ffg-alternative {
        .header-fields {
            .title-card {
                background: var(--color-background-1);
                color: var(--color-text-2);
                padding: 1px 5px;
            }


            .actor-name,
            .item-name {
                font-size: var(--font-h3-size);
                text-align: center;
                font-family: "Elektra", sans-serif;
                color: var(--color-text-3);
                border: 0 none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                border-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) 1%;
                height: var(--form-field-height);

                &:focus {
                    color: var(--color-text-selection);
                }
            }
        }

    }



}