.starwarsffg.sheet {
    &.ffg-alternative {
        nav.sheet-tabs {
            &.tabs {
                top: 70px;
                right: 10px;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                align-content: stretch;
                flex-direction: row;
                flex-wrap: wrap;
                width: 4rem;

                .item {
                    clip-path: none;
                    padding: 0;
                    font-size: 1.1rem;
                    background: unset;
                    color: var(--color-background-1);
                    margin: 2px;
                    flex: 0 0 1rem;                
                    height: 2rem;
                    width: 2rem;
                    text-shadow: none;
                    line-height: 1rem;

                    &.active {
                        //text-shadow: var(--color-background-1) 1px 2px 0;
                        color: #781428;
                    }
                }
            }
        }

    }
}