{{#if (or (eq actor.flags.starwarsffg.config.enableObligation undefined) (eq
actor.flags.starwarsffg.config.enableObligation true) )}}
<div class="resource full obligations">
    <div class="attribute flex-group-center">
        <div class="block-background">
            <div class="block-title header-title grid grid-2col">
                <div class="header-name">{{localize "SWFFG.DescriptionObligation"}}</div>
                <div><a class="add-obligation"><i class="far fa-plus-square"></i></a></div>
            </div>

            <div class="block-attribute">
                {{#each data.obligationlist as |obligation id|}}
                <div class="obligation-item trash-enable grid grid-3col">
                    <div class="item-attributes">
                        <div class="item-category flexrow">
                            <label for="data.obligationlist.{{id}}.type">{{localize "SWFFG.Type"}}</label>
                            <input type="text" name="data.obligationlist.{{id}}.type"
                                id="data.obligationlist.{{id}}.type" value="{{obligation.type}}" data-dtype="String" />
                        </div>
                        <div class="item-type flexrow">
                            <label for="data.obligationlist.{{id}}.magnitude">{{localize "SWFFG.Magnitude"}}</label>
                            <input type="text" name="data.obligationlist.{{id}}.magnitude"
                                id="data.obligationlist.{{id}}.magnitude" value="{{obligation.magnitude}}"
                                data-dtype="String" />
                        </div>
                    </div>
                    <div class="description">
                        <textarea name="data.obligationlist.{{id}}.description">{{obligation.description}}</textarea>
                    </div>
                    <div><a class="remove-obligation" data-id="{{id}}"><i class="fas fa-trash"></i></a></div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
{{/if}}
{{#if (or (eq actor.flags.starwarsffg.config.enableDuty undefined) (eq
actor.flags.starwarsffg.config.enableDuty true) )}}
    <div class="resource full duties gap">
        <div class="attribute flex-group-center">
            <div class="block-background">
                <div class="block-title header-title grid grid-3col">
                    <div class="header-name">{{localize "SWFFG.DescriptionDuty"}}</div>
                    <div class="">{{localize "SWFFG.Magnitude"}}</div>
                    <div><a class="add-duty"><i class="far fa-plus-square"></i></a></div>
                </div>

                <div class="block-attribute">
                    {{#each data.dutylist as |duty id|}}
                    <div class="duty-item trash-enable grid grid-3col">
                        <div class="item-type"><input type="text" name="data.dutylist.{{id}}.type" value="{{duty.type}}"
                                data-dtype="String" /></div>
                        <div class="item-magnitude"><input type="text" name="data.dutylist.{{id}}.magnitude"
                                value="{{duty.magnitude}}" data-dtype="Number" /></div>
                        <div><a class="remove-duty" data-id="{{id}}"><i class="fas fa-trash"></i></a></div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
{{/if}}

{{#if (or (eq actor.flags.starwarsffg.config.enableMorality undefined) (eq
actor.flags.starwarsffg.config.enableMorality true) )}}

    {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object cssClass="gap" blocktype="single" 
    title="SWFFG.DescriptionMorality" type="Number" name="data.morality.value" value=data.morality.value 
    headerlink=true headerclass="alt-tab" headerattributes="data-tab='obligation'" )}}
    
    {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object cssClass="gap" blocktype="full"
    title="SWFFG.EmotionalStrength" type="PopoutEditor" name="data.morality.strength"
    value=data.morality.strength)}}


    {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object cssClass="gap" blocktype="full"
    title="SWFFG.EmotionalWeakness" type="PopoutEditor" name="data.morality.weakness"
    value=data.morality.weakness)}}

{{/if}}

{{!-- Conflict Box --}}
{{#if (or (eq actor.flags.starwarsffg.config.enableConflict undefined) (eq actor.flags.starwarsffg.config.enableConflict true) )}}
    {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object cssClass="gap" blocktype="single" 
    title="SWFFG.DescriptionConflict" type="Number" name="data.conflict.value" value=data.conflict.value 
    headerlink=true headerclass="alt-tab" headerattributes="data-tab='obligation'" )}}
{{/if}}

    <div class="resource full motivations gap">
        {{#if (eq this.FFG.theme "starwars")}}
        <div class="attribute flex-group-center">
            <div class="block-background">
                <div class="block-title header-title flexrow">
                    <div class="header-name">{{localize "SWFFG.Motivations"}}</div>
                    <div class="">{{localize "SWFFG.MotivationDescription"}}</div>
                </div>

                <div class="block-attribute">
                    <div class="motivation-item trash-enable grid grid-3col">
                        <div class="attributes">
                            <div class="item-category flexrow">
                                <label for="data.general.motivation1.category">{{localize
                                    "SWFFG.MotivationCategory"}}</label>
                                <input type="text" name="data.general.motivation1.category"
                                    id="data.general.motivation1.category" value="{{data.general.motivation1.category}}"
                                    data-dtype="String" />
                            </div>
                            <div class="item-type flexrow">
                                <label for="data.general.motivation1.type">{{localize "SWFFG.MotivationType"}}</label>
                                <input type="text" name="data.general.motivation1.type"
                                    id="data.general.motivation1.type" value="{{data.general.motivation1.type}}"
                                    data-dtype="String" />
                            </div>
                        </div>
                        <div class="description">
                            <textarea
                                name="data.general.motivation1.description">{{data.general.motivation1.description}}</textarea>
                        </div>
                        <div></div>
                    </div>
                    <div class="motivation-item trash-enable grid grid-3col">
                        <div class="attributes">
                            <div class="item-category flexrow">
                                <label for="data.general.motivation2.category">{{localize
                                    "SWFFG.MotivationCategory"}}</label>
                                <input type="text" name="data.general.motivation2.category"
                                    id="data.general.motivation2.category" value="{{data.general.motivation2.category}}"
                                    data-dtype="String" />
                            </div>
                            <div class="item-type flexrow">
                                <label for="data.general.motivation2.type">{{localize "SWFFG.MotivationType"}}</label>
                                <input type="text" name="data.general.motivation2.type"
                                    id="data.general.motivation2.type" value="{{data.general.motivation2.type}}"
                                    data-dtype="String" />
                            </div>
                        </div>
                        <div class="description">
                            <textarea
                                name="data.general.motivation2.description">{{data.general.motivation2.description}}</textarea>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>

    {{else}}
        <div class="grid grid-2col genesys gap">
            {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object blocktype="single"
            title="SWFFG.Strength" type="PopoutEditor" name="data.motivation.strength" value=data.motivation.strength)}}
            {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object blocktype="single"
            title="SWFFG.Flaw" type="PopoutEditor" name="data.motivation.flaw" value=data.motivation.flaw)}} {{>
            "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object blocktype="single"
            title="SWFFG.Desire"
            type="PopoutEditor" name="data.motivation.desire" value=data.motivation.desire)}} {{>
            "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object blocktype="single"
            title="SWFFG.Fear"
            type="PopoutEditor" name="data.motivation.fear" value=data.motivation.fear)}}
        </div>

    {{/if}}
</div>