{{#if (ne actor.type "minion")}}
  <div class="container flex-group-center item-values">
    {{!-- Medical Box --}} {{> "modules/ffg-star-wars-alternative-ui/templates/parts/actor/ffg-healingitem.html" (object
    blocktype="single" title=actor.flags.starwarsffg.config.medicalItemName name="data.stats.medical.uses"
    value=data.stats.medical.uses)}}
    {{!-- Encumbrance Box --}} {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object
    blocktype="split" title="SWFFG.Encumbrance" fields=(array (object name="data.stats.encumbrance.max"
    value=data.stats.encumbrance.max type="Number" label="SWFFG.Threshold") (object name="data.stats.encumbrance.value"
    value=data.stats.encumbrance.value type="Number" label="SWFFG.Current") ))}}
    {{!-- Credits Box --}} {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object
    blocktype="single" title="SWFFG.DescriptionCredits" type="String" name="data.stats.credits.value"
    value=data.stats.credits.value)}}
  </div>
{{/if}}
<div class="gap">
  {{> "modules/ffg-star-wars-alternative-ui/templates/parts/actor/ffg-weapon-armor-gear.html"}}
</div>