<div class="grid grid-3col">
    {{!-- Gender Box --}} {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object
    blocktype="single" title="SWFFG.Gender" type="String" name="data.general.gender" value=data.general.gender)}}
    {{!-- Height Box --}} {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object
    blocktype="single" title="SWFFG.Height" type="String" name="data.general.height" value=data.general.height)}}
    {{!-- Hair Box --}} {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object
    blocktype="single" title="SWFFG.Hair" type="String" name="data.general.hair" value=data.general.hair)}}

    {{!-- Age Box --}} {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object
    blocktype="single" title="SWFFG.Age" type="String" name="data.general.age" value=data.general.age)}}
    {{!-- Build Box --}} {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object
    blocktype="single" title="SWFFG.Build" type="String" name="data.general.build" value=data.general.build)}}
    {{!-- Eyes Box --}} {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object
    blocktype="single" title="SWFFG.Eyes" type="String" name="data.general.eyes" value=data.general.eyes)}}

</div>
<div class="gap grid grid-2col">
    
        {{!-- NotableFeature Box --}}
        <div class="block-editor">
            {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html"
            (object blocktype="full" title="SWFFG.NotableFeature" type="PopoutEditor" name="data.general.features"
            value=data.general.features)}}
        </div>
        {{!-- Notes Box --}}
        <div class="block-editor">
            {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html"
            (object blocktype="full" title="SWFFG.Notes" type="PopoutEditor" name="data.general.notes"
            value=data.general.notes)}}
        </div>
</div>
<div class="gap">
    {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html"
    (object blocktype="single" title="SWFFG.TabBiography" type="PopoutEditor" name="data.biography"
    value=data.enrichedBio)}}
</div>