<div class="profile-block">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="holo"></div>
</div>
<div class="container">
    <div class="header-name header-description-block">
        <div class="title-card rival">{{localize (localize 'TYPES.Actor.{actorType}' actorType=actor.type) }}</div>
        <div class="name-card">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'SWFFG.Name'}}"
                data-dtype="String" class="actor-name" />
        </div>
        <div class="character-specie">
            {{localize "SWFFG.Species"}}: {{#each_when actor.items "type" "species"}}
                <span class="species-pill item" data-item-id="{{item._id}}">
                    {{item.name}} <i class="fas fa-times item-delete"></i>
                </span>
            {{else}}
            <span class="drag-note">{{localize "SWFFG.DragNotes"}}</span>
            {{/each_when}}
        </div>        
        <div class="character-talents" style="{{#if limited}}display:none;{{/if}}">            
            <div class="talents-header header">
                {{#if (eq actor.type "character")}}
                    <span class="label career">{{localize "SWFFG.Career"}}</span> /
                    <span class="label specializations ffg-purchase" data-buy-action="specialization">
                        {{localize "SWFFG.Specializations"}}
                    </span> /
                {{/if}}

                {{#if (or (eq actor.flags.starwarsffg.config.enableForcePool undefined)
                    (eq actor.flags.starwarsffg.config.enableForcePool true) )}}
                    <span class="label forcepowers ffg-purchase" data-buy-action="forcepower">
                        {{localize "SWFFG.ForcePowers"}}
                    </span>
                {{/if}}

                {{#if (eq actor.type "character")}}
                    / <span class="label signatureabilities ffg-purchase" data-buy-action="signatureability">
                        {{localize "SWFFG.SignatureAbilities"}}
                    </span>
                {{/if}}
            </div>
            <div class="talents-list" style="{{#if limited}}display:none;{{/if}}">
                {{#if (eq actor.type "character")}}
                    {{#each_when actor.items "type" "career"}}
                        <span class="career-pill item" data-item-id="{{item._id}}">
                            {{item.name}} <i class="fas fa-times item-delete"></i>
                        </span>
                    {{else}}
                        <span class="drag-note">{{localize "SWFFG.DragNotes"}} {{localize "SWFFG.Career"}}</span>
                    {{/each_when}}
                    /
                    {{#each_when actor.items "type" "specialization"}}
                        <span class="specialization-pill item" data-item-id="{{item._id}}">
                            {{item.name}} <i class="fas fa-times item-delete"></i>
                        </span>
                    {{else}}
                        <span class="drag-note">{{localize "SWFFG.DragNotes"}} {{localize "SWFFG.Specializations"}} </span>
                    {{/each_when}}
                {{/if}}

                {{#if (or (eq actor.flags.starwarsffg.config.enableForcePool undefined) (eq
                actor.flags.starwarsffg.config.enableForcePool true) )}}
                    {{#each_when actor.items "type" "forcepower"}}
                        <span class="forcepower-pill item" data-item-id="{{item._id}}">
                            {{item.name}} <i class="fas fa-times item-delete"></i>
                        </span>                   
                    {{else}}
                        <span class="drag-note">{{localize "SWFFG.DragNotes"}} {{localize "SWFFG.ForcePowers"}}</span>                
                    {{/each_when}}
                {{/if}}

                {{#if (eq actor.type "character")}}
                    {{#each_when actor.items "type" "signatureability"}}
                    / <span class="signatureability-pill item" data-item-id="{{item._id}}">
                        {{item.name}} <i class="fas fa-times item-delete"></i>
                    </span>
                    {{else}}
                    <span class="drag-note">{{localize "SWFFG.DragNotes"}} {{localize "SWFFG.SignatureAbilities"}}</span>
                    {{/each_when}}
                {{/if}}
            </div>
        </div>
    </div>
</div>