<form class="{{cssClass}} character" autocomplete="off">
  {{!-- Sheet Tab Navigation --}}
  {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-tabs.html" displayLimited=true limited=limited
  items=(array
  (object tab="characteristics" label="SWFFG.TabCharacteristics" icon="fas fa-user-circle" cls=classType)
  (object tab="items" label="SWFFG.TabGear" icon="fas fa-toolbox" cls=classType)
  (object tab="talents" label="SWFFG.TabTalents" icon="fab fa-superpowers" cls=classType)
  (object tab="description" label="SWFFG.TabBiography" icon="fas fa-address-card" cls=classType)
  )}}

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div id="actor-id" data-actor="{{actor._id}}" style="display: none;"></div>

    <div class="header-fields">
      {{!-- Character Details Container --}}
      <div class="details-block">
        {{> "modules/ffg-star-wars-alternative-ui/templates/parts/actor/ffg-details.html"}}
      </div>
      <div class="container stats-block" style="flex-wrap: nowrap;{{#if limited}}display:none;{{/if}}">
        <div class="container flex-group-center">
          {{!-- Quantity Box --}} {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html"
          (object
          blocktype="split" title="SWFFG.MinionQuantity" fields=(array (object name="data.quantity.max"
          value=data.quantity.max type="Number" label="SWFFG.MinionQuantityMax") (object name="data.quantity.value"
          value=data.quantity.value type="Number" label="SWFFG.MinionQuantityAlive" disabled=true) ))}}
          {{#if limited}}{{else}}
          {{!-- Defence Box & Soak Box --}}
          {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object blocktype="split"
          cssClass="defence" title="SWFFG.Defense" fields=(array
          (object name="data.stats.defence.melee" value=data.stats.defence.melee type="Number"
          label="SWFFG.DefenseMelee")
          (object name="data.stats.defence.ranged" value=data.stats.defence.ranged type="Number"
          label="SWFFG.DefenseRanged")
          (object name="data.stats.soak.value" value=data.stats.soak.value type="Number" label="SWFFG.Soak"
          disabled=this.settings.enableSoakCalculation)
          ))}}

          {{!-- Wounds Box --}}
          {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object
          blocktype="split" title="SWFFG.Wounds" fields=(array (object name="data.stats.wounds.max"
          value=data.stats.wounds.max type="Number" label="SWFFG.Threshold") (object name="data.stats.wounds.value"
          value=data.stats.wounds.value type="Number" label="SWFFG.Current") ))}}
          {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object
          blocktype="single"
          title="SWFFG.MinionUnitWounds" type="Number" name="data.unit_wounds.value" value=data.unit_wounds.value
          )}}
          {{/if}}
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body" style="{{#if limited}}display:none;{{/if}}">
    {{!-- Characteristics Tab --}}
    <div class="tab characteristics" data-group="primary" data-tab="characteristics">
      {{> "modules/ffg-star-wars-alternative-ui/templates/parts/actor/ffg-tab-characteristics.html"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "modules/ffg-star-wars-alternative-ui/templates/parts/actor/ffg-tab-items.html"}}
    </div>

    {{!-- Talents Tab --}}
    <div class="tab talents items" data-group="primary" data-tab="talents">
      {{!-- Talents List --}} {{> "modules/ffg-star-wars-alternative-ui/templates/parts/actor/ffg-talents.html"}}
      {{!-- Abilities List --}} {{> "modules/ffg-star-wars-alternative-ui/templates/parts/actor/ffg-abilities.html"}}
      {{!-- Force Powers List --}} {{>
      "modules/ffg-star-wars-alternative-ui/templates/parts/actor/ffg-forcepowers.html"}}
      {{!-- Signature Abilities List --}} {{>
      "modules/ffg-star-wars-alternative-ui/templates/parts/actor/ffg-signatureability.html"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      <div class="biography-editor">
        {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html"
        (object blocktype="single" title="SWFFG.TabBiography" type="PopoutEditor" name="data.biography"
        value=data.biography)}}
      </div>
      {{#if this.settings.enableCriticalInjuries}}
      <div class="container flex-group-center">
        {{> "systems/starwarsffg/templates/parts/actor/ffg-criticalinjury.html" type="criticalinjury"}} {{!-- Experience
        Box --}}
      </div>
      {{/if}}
    </div>

    {{!-- Modifiers Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{> "systems/starwarsffg/templates/parts/shared/ffg-modifiers.html"}}
    </div>
  </section>
</form>