<form class="{{cssClass}} character" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div id="actor-id" data-actor="{{actor._id}}" style="display: none;"></div>

    <div class="header-fields">
      {{!-- Character Details Container --}}
      <div class="container details-block" style="flex-wrap: nowrap;">
        {{> "modules/ffg-star-wars-alternative-ui/templates/parts/actor/ffg-details.html"}}
      </div>

      {{!-- Primary Stats Container --}}
      <div class="container stats-block" style="flex-wrap: nowrap;{{#if limited}}display:none;{{/if}}">
        <div class="container flex-group-center">
          {{!-- Wounds Box --}} {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object blocktype="split" title="SWFFG.Wounds" headerlink=true headerclass="alt-tab" headerattributes="data-tab='general'" fields=(array (object name="data.stats.wounds.max" value=data.stats.wounds.max type="Number" label="SWFFG.Threshold") (object name="data.stats.wounds.value" value=data.stats.wounds.value type="Number" label="SWFFG.Current") ))}}
          {{!-- Strain Box --}}  {{#if (or (eq actor.flags.starwarsffg.config.enableStrainThreshold undefined) (eq actor.flags.starwarsffg.config.enableStrainThreshold true) )}}
            {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object blocktype="split" title="SWFFG.Strain" fields=(array (object name="data.stats.strain.max" value=data.stats.strain.max type="Number" label="SWFFG.Threshold") (object name="data.stats.strain.value" value=data.stats.strain.value type="Number" label="SWFFG.Current") ))}}
          {{/if}}
          {{!-- Force Box --}} {{#if (or (eq actor.flags.starwarsffg.config.enableForcePool undefined) (eq actor.flags.starwarsffg.config.enableForcePool true) )}} 
            {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object blocktype="split" title="SWFFG.ForcePool" fields=(array (object name="data.stats.forcePool.value" value=data.stats.forcePool.value type="Number" label="SWFFG.ForcePoolCommitted") (object name="data.stats.forcePool.max" value=data.stats.forcePool.max type="Number" label="SWFFG.ForcePoolAvailable") ))}} 
          {{/if}}
          {{!-- Defence Box & Soak Box --}} {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object blocktype="split" title="SWFFG.Defense" fields=(array 
          (object name="data.stats.defence.ranged" value=data.stats.defence.ranged type="Number" label="SWFFG.DefenseRanged") 
          (object name="data.stats.defence.melee" value=data.stats.defence.melee type="Number" label="SWFFG.DefenseMelee") 
          (object name="data.stats.soak.value" value=data.stats.soak.value type="Number" label="SWFFG.Soak" disabled=this.settings.enableSoakCalculation) 
          ))}}
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}} 
  {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-tabs.html" displayLimited=true limited=limited items=(array 
    (object tab="characteristics" label="SWFFG.TabCharacteristics" icon="fas fa-user-circle" cls=classType) 
    (object tab="items" label="SWFFG.TabGear" icon="fas fa-toolbox" cls=classType) 
    (object tab="talents" label="SWFFG.TabTalents" icon="fab fa-superpowers" cls=classType) 
    (object tab="general" label="SWFFG.TabGeneral" icon="fas fa-address-card" cls=classType isHidden=true) 
    (object tab="description" label="SWFFG.TabBiography" icon="fas fa-address-card" cls=classType) 
    (object tab="obligation" label="SWFFG.TabObligationDutyMorality" icon="fas fa-balance-scale" cls=classType isHidden=false isHiddenV2=hideObligationDutyMoralityConflictTab) )}} 
                
  {{!-- Sheet Body --}}
  <section class="sheet-body" style="{{#if limited}}display:none;{{/if}}">
    {{!-- Characteristics Tab --}}
    {{> "modules/ffg-star-wars-alternative-ui/templates/parts/actor/ffg-tab-characteristics.html"}}

    {{!-- Owned Items Tab --}}
    {{> "modules/ffg-star-wars-alternative-ui/templates/parts/actor/ffg-tab-items.html"}}


    {{!-- Talents Tab --}}
    <div class="tab talents items" data-group="primary" data-tab="talents">
      {{!-- Talents List --}} {{> "modules/ffg-star-wars-alternative-ui/templates/parts/actor/ffg-talents.html"}}
      {{!-- Abilities List --}} {{> "modules/ffg-star-wars-alternative-ui/templates/parts/actor/ffg-abilities.html"}}
      {{!-- Force Powers List --}} {{> "modules/ffg-star-wars-alternative-ui/templates/parts/actor/ffg-forcepowers.html"}}
      {{!-- Signature Abilities List --}} {{> "modules/ffg-star-wars-alternative-ui/templates/parts/actor/ffg-signatureability.html"}}
    </div>

    {{!-- Biography Tab --}}
    {{> "modules/ffg-star-wars-alternative-ui/templates/parts/actor/ffg-tab-description.html"}}

    {{!-- Modifiers Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{> "systems/starwarsffg/templates/parts/shared/ffg-modifiers.html"}}
    </div>

    {{!-- General Tab --}}
    <div class="tab general" data-group="primary" data-tab="general">
      {{> "modules/ffg-star-wars-alternative-ui/templates/parts/actor/ffg-criticalinjury.html" type="criticalinjury"}}
    </div>

    {{!-- Obligations Tab --}}
    {{> "modules/ffg-star-wars-alternative-ui/templates/parts/actor/ffg-tab-obligations.html"}}
  </section>
</form>
