<form class="{{cssClass}} item-sheet-armor" autocomplete="off">
  {{!-- Sheet Tab Navigation --}} 
  {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-tabs.html" displayLimited=true
  limited=limited
  items=(array 
  (object tab="description" label="SWFFG.TabDescription" icon="far fa-file-alt"
  cls=classType) 
  (object tab="attributes" label="SWFFG.TabModifiers" icon="fas fa-cog" cls=classType) )}} 
  
  <header class="sheet-header">
    <div class="header-fields">
      <div class="container details-block" style="flex-wrap: nowrap;">
        {{> "modules/ffg-star-wars-alternative-ui/templates/parts/item/ffg-details.html"}}
      </div>
      {{!-- Characteristics Scores --}}
      <div class="characteristics">
        <div class="grid grid-5col">
          {{> "modules/ffg-star-wars-alternative-ui/templates/parts/item/ffg-characteristics.html"
          items=(array
          (object type="defence" label="SWFFG.ItemArmorDefense" skill=data.skill.value value=data.defence.value
          adjusted=data.defence.adjusted
          name="data.defence.value" useBrawn=data.skill.useBrawn isDisplayed=true )
          (object type="soak" label="SWFFG.ItemsSoak" value=data.soak.value adjusted=data.soak.adjusted
          name="data.soak.value" isDisplayed=true)
          (object type="encumbrance" label="SWFFG.ItemWeaponEncumbrance" value=data.encumbrance.value
          adjusted=data.encumbrance.adjusted
          name="data.encumbrance.value" isDisplayed=true)
          (object type="hardpoints" label="SWFFG.ItemWeaponHardPoints" value=data.hardpoints.value
          current=data.hardpoints.current
          name="data.hardpoints.value" isDisplayed=true)
          (object type="rarity" label="SWFFG.ItemWeaponRarity" value=data.rarity.value adjusted=data.rarity.adjusted
          name="data.rarity.value" isDisplayed=item.flags.starwarsffg.config.enableRarity
          isRestricted=data.rarity.isrestricted)
          )}}
        </div>
      </div>
      <div class="container stats-block" style="flex-wrap: nowrap;">
        <div class="container flex-group-center weapon-values">
          {{#if (or (eq item.flags.starwarsffg.config.enablePrice undefined) (eq
          item.flags.starwarsffg.config.enablePrice true) )}}
          {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object blocktype="single"
          title="SWFFG.ItemWeaponPrice" type="Number" name="data.price.value" value=data.price.value
          adjusted=data.price.adjusted)}}
          {{/if}}
          {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object blocktype="single"
          title="SWFFG.ItemWeaponQuantity" type="Number" name="data.quantity.value" value=data.quantity.value)}}
          {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object blocktype="single"
          title="SWFFG.IsRestricted" type="Boolean" name="data.rarity.isrestricted" value=data.rarity.isrestricted)}}
        </div>
      </div>
      <div class="container stats-block" style="flex-wrap: nowrap;">
        <div class="container flex-group-center weapon-values">
          {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object blocktype="pills"
          title="SWFFG.ItemQualities" name="itemmodifier" fields=data.adjusteditemmodifier cssClass="itemmodifier")}}
          {{> "modules/ffg-star-wars-alternative-ui/templates/parts/shared/ffg-block.html" (object blocktype="pills"
          title="SWFFG.ItemAttachments" name="itemattachment" fields=data.itemattachment cssClass="itemattachment")}}
        </div>
      </div>
      <div class="container stats-block" style="flex-wrap: nowrap;">
        <div class="flex-group-center weapon-values hidden-content">
          <input type="text" name="data.encumbrance.adjusted" value="{{data.encumbrance.adjusted}}"
            data-dtype="Number" />
          <input type="text" name="data.soak.adjusted" value="{{data.soak.adjusted}}" data-dtype="Number" />
          <input type="text" name="data.defence.adjusted" value="{{data.defence.adjusted}}" data-dtype="Number" />

        </div>
      </div>
    </div>
  </header>
  
  {{!-- Sheet
  Body --}}
  <section class="sheet-body small armour">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{> "modules/ffg-star-wars-alternative-ui/templates/parts/item/ffg-description.html"}}
    </div>

    {{!-- Modifiers Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{> "systems/starwarsffg/templates/parts/shared/ffg-modifiers.html"}}
    </div>
  </section>
</form>