@charset "UTF-8";

@use "abstracts" as *;

@use "layout/header";
@use "layout/scroll";
@use "layout/containers";
@use "layout/tab";

@use "components/ffg-block";
@use "components/navigation";
@use "components/form";
@use "components/title";
@use "components/characteristics";
@use "components/pill-items";
@use "components/content-link";
@use "components/name";
@use "components/picture";
@use "components/defence";
@use "components/crew";
@use "components/dice-pool";
@use "components/skills";
@use "components/items";

//add actor character sheet
@use "pages/actor";

//Add journal sheet
@use "pages/journal";

//Add item sheet
@use "pages/item";

//Add settings form
@use "pages/settings";


.starwarsffg.sheet {

    &.actor,
    &.item {
        &.ffg-alternative {
            .window-content {
                background: var(--color-window-content-background);
                color: var(--color-text-1);
                display: block;
                padding: 0;
                border-radius: 0 0 10px 10px;
            }
        }

    }

    &.actor {
        &.ffg-alternative {
            @include background-datapad();

            .window-content {
                margin-bottom: 30px;

                nav.sheet-tabs {
                    &.tabs {
                        background: var(--color-window-content-background);
                        ;
                    }
                }

                .sheet-header {

                    .header-fields {

                        .details-block {
                            .holo {
                                @include effect-holographic (var(--holo-color));
                            }

                            @include keyframes-holographic (var(--holo-color));
                        }
                    }
                }
            }
        }
    }

    &.item {
        &.ffg-alternative {
            @include background-datapad(30px, 25px, 40px, 25px, $image: "../../artwork/datapad-items.webp", $outset: 20px 0px 10px 0px);

            .window-content {
                nav.sheet-tabs {
                    &.tabs {
                        background-image: url("../../artwork/nav-items.webp");
                        background-size: cover;
                    }
                }
            }
        }
    }
}