:root {
    --color-text-light-primary: #b38202;
    --color-text-dark-primary: #b38202;
    --color-box-primary: #455052;
    --color-box-heading: #b3a48d;
    --color-fields-focused: #455052;
    --color-fields-background: #011;
}

.starwarsffg.sheet.actor.ffg-alternative {
    /* apply datapad background*/
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 70px solid transparent;
    padding: 0px;
    border-image: url("/modules/ffg-star-wars-alternative-ui/artwork/datapad-single.webp") 100;

    .window-content {
        background: none;
        background-image: url("/modules/ffg-star-wars-alternative-ui/artwork/datapad-bg.webp");
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        color: var(--color-text-light-primary);
    }
    .specialization-pill,
    .species-pill,
    .career-pill,
    .signatureability-pill,
    .forcepower-pill {
        display: inline-block;
    }

    /* apply holgram effect on avatar */
    .profile-block {
        text-align: center;
    }
    .holo {
        position: relative;
        z-index: 2;
        width: 120px;
        height: 5px;
        margin: -5px auto 0;
        background-color: rgba(0, 252, 252, 0.35);
        border-radius: 100%;
        filter: blur(2.5px);
        -webkit-animation: holographic 1.5s infinite alternate;
        animation: holographic 1.5s infinite alternate;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        &:after {
            position: absolute;
            left: -10px;
            right: -10px;
            content: "";
            height: 10px;
            background-color: rgba(0, 252, 252, 0.5);
            border-radius: 100%;
            filter: blur(2.5px);
        }

        + .holo {
            -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
            opacity: 0.5;
        }
    }

    @-webkit-keyframes holographic {
        from {
            will-change: box-shadow;
            box-shadow:
                0 -75px 5px rgba(0, 252, 252, 0.15),
                0 -1px 2px rgba(0, 252, 252, 0.5),
                0 -45px 5px rgba(0, 252, 252, 0.15),
                0 -2px 3px rgba(0, 252, 252, 0.5),
                0 -3px 4px rgba(0, 252, 252, 0.5),
                0 -4px 6px rgba(0, 252, 252, 0.5),
                0 -5px 10px rgba(0, 252, 252, 0.75),
                0 -7px 20px rgba(0, 252, 252, 0.75),
                0 -10px 30px rgba(0, 252, 252, 0.75),
                0 -15px 40px rgba(0, 252, 252, 0.75),
                0 -25px 50px rgba(0, 252, 252, 0.75),
                0 -35px 60px rgba(0, 252, 252, 0.85),
                0 -45px 70px rgba(0, 252, 252, 0.95),
                0 -65px 80px #00fcfc,
                0 -75px 90px #00fcfc;
        }

        to {
            will-change: unset;
            box-shadow:
                0 -1px 5px rgba(0, 252, 252, 0.15),
                0 -1px 2px rgba(0, 252, 252, 0.5),
                0 -1px 5px rgba(0, 252, 252, 0.15),
                0 -2px 3px rgba(0, 252, 252, 0.5),
                0 -3px 4px rgba(0, 252, 252, 0.5),
                0 -4px 6px rgba(0, 252, 252, 0.5),
                0 -5px 7px rgba(0, 252, 252, 0.75),
                0 -7px 10px rgba(0, 252, 252, 0.75),
                0 -10px 15px rgba(0, 252, 252, 0.75),
                0 -15px 20px rgba(0, 252, 252, 0.75),
                0 -25px 25px rgba(0, 252, 252, 0.75),
                0 -35px 30px rgba(0, 252, 252, 0.85),
                0 -45px 35px rgba(0, 252, 252, 0.95),
                0 -65px 40px #00fcfc,
                0 -75px 50px #00fcfc;
        }
    }

    @keyframes holographic {
        from {
            will-change: box-shadow;
            box-shadow:
                0 -75px 5px rgba(0, 252, 252, 0.15),
                0 -1px 2px rgba(0, 252, 252, 0.5),
                0 -45px 5px rgba(0, 252, 252, 0.15),
                0 -2px 3px rgba(0, 252, 252, 0.5),
                0 -3px 4px rgba(0, 252, 252, 0.5),
                0 -4px 6px rgba(0, 252, 252, 0.5),
                0 -5px 10px rgba(0, 252, 252, 0.75),
                0 -7px 20px rgba(0, 252, 252, 0.75),
                0 -10px 30px rgba(0, 252, 252, 0.75),
                0 -15px 40px rgba(0, 252, 252, 0.75),
                0 -25px 50px rgba(0, 252, 252, 0.75),
                0 -35px 60px rgba(0, 252, 252, 0.85),
                0 -45px 70px rgba(0, 252, 252, 0.95),
                0 -65px 80px #00fcfc,
                0 -75px 90px #00fcfc;
        }

        to {
            will-change: unset;
            box-shadow:
                0 -1px 5px rgba(0, 252, 252, 0.15),
                0 -1px 2px rgba(0, 252, 252, 0.5),
                0 -1px 5px rgba(0, 252, 252, 0.15),
                0 -2px 3px rgba(0, 252, 252, 0.5),
                0 -3px 4px rgba(0, 252, 252, 0.5),
                0 -4px 6px rgba(0, 252, 252, 0.5),
                0 -5px 7px rgba(0, 252, 252, 0.75),
                0 -7px 10px rgba(0, 252, 252, 0.75),
                0 -10px 15px rgba(0, 252, 252, 0.75),
                0 -15px 20px rgba(0, 252, 252, 0.75),
                0 -25px 25px rgba(0, 252, 252, 0.75),
                0 -35px 30px rgba(0, 252, 252, 0.85),
                0 -45px 35px rgba(0, 252, 252, 0.95),
                0 -65px 40px #00fcfc,
                0 -75px 50px #00fcfc;
        }
    }

    .stats-block {
        margin-top: 20px;
    }

    /* characteristics */
    .characteristic-item {
        .characteristic {
            border: 5px double var(--color-fields-background);
        }
    }

    /* skills list */
    .skillColumnGrid {
        flex: 48%;
        border: none;
        background: none;

        &:first-child {
            margin-right: 1%;
        }
        &:last-child {
            margin-left: 1%;
        }
        .skillsHeader div {
            background-color: transparent;
        }
    }

    /* Block title & header*/
    .header-title {
        background: rgb(0, 0, 0);
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(152, 4, 4, 0.5004202364539565) 47%,
            rgba(0, 0, 0, 1) 100%
        );
        clip-path: none;
        -webkit-clip-path: none;
    }

    /* form fields */
    input {
        color: var(--color-text-light-primary);

        &:focus {
            box-shadow: 0 0 5px var(--color-fields-focused);
            background-color: var(--color-fields-focused);
        }
    }

    button {
        background: var(--color-fields-focused);
        border: none;
        width: 70%;
    }

    /* ffg-block */
    .resource {
        width: initial;
        &.split {
            width: initial;
        }
        .block-attribute {
            padding: 0 5px;

            .force-power {
                padding: unset;
                border: none;
            }
        }
    }

    /* items */
    .items-list {
        .item {
            .toggle-equipped {
                color: var(--color-fields-focused);
                &.active {
                    color: white;
                }
            }
        }
    }
}

/*
.starwarsffg.sheet.actor.ffg-alternative .character .header-fields .career-pill {
    background-color: var(--color-box-heading);
}


.system-starwarsffg
    .journal-entry-page
    .journal-page-content
    blockquote:not(h6 + p + ul + blockquote, h6 + p + blockquote, h6 + ul + blockquote, h6 + blockquote) {
    background: url("../artwork/datapad-quote.webp") !important;
    padding-left: 25px !important;
    color: var(--color-text-light-primary);
}

.credits {
    font-family: AurekBesh;
}



/* ffg-block */

.starwarsffg.ffg-alternative .resource .attribute .block-title,
.starwarsffg.ffg-alternative .tabs .item {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(152, 4, 4, 0.5004202364539565) 47%,
        rgba(0, 0, 0, 1) 100%
    );
    clip-path: none;
    -webkit-clip-path: none;
}

.starwarsffg.sheet.acto.ffg-alternative .tabs .item {
    padding: 0 10px;
}

.starwarsffg.ffg-alternative .resource .block-background {
    padding: 0;
    background: #011;
    -webkit-clip-path: polygon(
        0% 0%,
        var(--notchSize) 0%,
        calc(100% - var(--notchSize)) 0%,
        100% var(--notchSize),
        100% calc(100% - var(--notchSize)),
        calc(100% - var(--notchSize)) 100%,
        var(--notchSize) 100%,
        0% calc(100% - var(--notchSize))
    );
    clip-path: polygon(
        0% 0%,
        var(--notchSize) 0%,
        calc(100% - var(--notchSize)) 0%,
        100% var(--notchSize),
        100% calc(100% - var(--notchSize)),
        calc(100% - var(--notchSize)) 100%,
        var(--notchSize) 100%,
        0% calc(100% - var(--notchSize))
    );
}

.starwarsffg.ffg-alternative .resource .block-value label {
    font-size: 9px;
    text-transform: uppercase;
    display: block;
    line-height: 15px;
}
