.starwarsffg.sheet.actor {
    --color-text-light-primary: #b38202;
    --color-text-dark-primary: #b38202;
    min-width: 620px;
    min-height: 550px;

    &.ffg-alternative {
        /* apply datapad background*/
        border-top: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 70px solid transparent;
        padding: 0px;
        border-image: url("/modules/ffg-star-wars-alternative-ui/artwork/datapad-single.webp") 100;

        .window-content {
            background: none;
            background-image: url("/modules/ffg-star-wars-alternative-ui/artwork/datapad-bg.webp");
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            color: var(--color-text-light-primary);
            display: block;
            overflow-y: auto;
        }
        .character {
            .specialization-pill,
            .species-pill,
            .career-pill,
            .signatureability-pill,
            .forcepower-pill {
                display: inline-block;
                border-radius: 5px;
                background-color: var(--color-fields-focused);
            }


            .stats-block {
                margin-top: 20px;
            }

            /* characteristics */
            .characteristic-item {
                .characteristic {
                    border: 5px double var(--color-fields-background);                    
                }
            }

            /* skills list */
            .skillColumnGrid {
                flex: 48%;
                border: none;
                background: none;

                &:first-child {
                    margin-right: 1%;
                }
                &:last-child {
                    margin-left: 1%;
                }
                .skillsHeader div {
                    background-color: transparent;
                }
            }

            /* Block title & header*/
            .header-title {
                background: rgb(0, 0, 0);
                background: var(--color-gradient-linear);
                clip-path: none;
                -webkit-clip-path: none;
            }

            /* form fields */
            input,
            textarea {
                color: var(--color-text-light-primary);
                font-family: inherit;

                &:focus {
                    box-shadow: 0 0 5px var(--color-fields-focused);
                    background-color: var(--color-fields-focused);
                }
            }

            button {
                background: var(--color-fields-focused);
                border: none;
                width: 70%;
            }


            /* items */
            .items {
                .items-list {
                    background-color: var(--color-fields-background);
                    padding: 0 0.2rem;
                    .item {
                        border-color: var(--color-fields-focused);
                        .toggle-equipped {
                            color: var(--color-fields-focused);
                            &.active {
                                color: white;
                            }
                        }
                    }
                }
                .item-pill {
                    border-radius: 5px;
                    background-color: var(--color-fields-focused);
                }
                .item-details {
                    background: rgba(255, 255, 255, 0.1);
                }
                &.motivations {
                    .description {
                        grid-column: span 2 / 4;
                    }
                }
            }

            /* Nav */
            .tabs {
                height: var(--height-tab);
                .item {
                    padding: 0 10px;
                    text-overflow: ellipsis;
                    width: 19%;
                    white-space: nowrap;
                    overflow: hidden;
                    line-height: var(--height-tab);
                    border-radius: 5px;
                    box-shadow: 0 2px rgba(#b38202, 0.5);
                    background: #011;

                    &.active {
                        box-shadow: 0 2px rgba(152, 4, 4, 0.5);
                    }
                }
            }
        }
    }
}
/*
.starwarsffg.sheet.actor.ffg-alternative .character .header-fields .career-pill {
    background-color: var(--color-box-heading);
}


.system-starwarsffg
    .journal-entry-page
    .journal-page-content
    blockquote:not(h6 + p + ul + blockquote, h6 + p + blockquote, h6 + ul + blockquote, h6 + blockquote) {
    background: url("../artwork/datapad-quote.webp") !important;
    padding-left: 25px !important;
    color: var(--color-text-light-primary);
}

.credits {
    font-family: AurekBesh;
}
*/
