@charset "UTF-8";

@use "layout/scroll";
@use "layout/containers";
@use "layout/tab";


@use "components/pill-items";
@use "components/content-link";
@use "components/name";
@use "components/picture";
@use "components/defence";
@use "components/crew";
@use "components/dice-pool";
@use "components/skills";
@use "components/items";
@use "components/drag-notes";

//Add settings form
@use "pages/settings";

body {
    --color-background-1: #490c0bd9;
}

.starwarsffg.sheet {
    &.ffg-alternative {
        .window-content {
            overflow-y: auto;
            font-size: var(--font-size-16);
            font-family: var(--font-body);

            .details-infos {
                align-items: flex-end;
            }

            .resource {
                flex-grow: 1;
                margin: 0 0.15rem;

                &.defence {
                    flex-grow: 2;

                    .block-attribute {
                        grid-template-columns: repeat(3, minmax(0, 1fr));
                    }
                }

                .block-background {

                    .block-attribute {
                        .block-value label {
                            font-size: var(--font-size-12);
                        }

                        .popout-editor {
                            min-height: 50px;
                            width: 100%;
                        }
                    }
                }
            }

            .characteristics {
                height: unset;

                .characteristics-block {
                    padding: 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: nowrap;
    
                    &.container-6col {
                        .characteristic-item {
                            width: calc(100% / 6)
                        }
                    }
    
                    &.container-5col {
                        .characteristic-item {
                            width: calc(100% / 5)
                        }
                    }
    
                    &.container-3col {
                        .characteristic-item {
                            width: calc(100% / 3)
                        }
                    }
    
                    &.container-2col {
                        .characteristic-item {
                            width: calc(100% / 2)
                        }
                    }
    
                    .characteristic-item {
                        background-color: var(--color-background-2);
                        margin: 0 .15rem;
    
                        &:first-child {
                            margin-left: 0;
                        }
    
                        &:last-child {
                            margin-right: 0;
                        }
    
                        .characteristic {
                            border: 2px solid var(--color-characteristic-border);
                            border-radius: 50%;
                            width: 45px;
                            height: 45px;
    
                            .characteristic-value {
                                height: unset;
    
                                input {
                                    font-size: var(--font-size-32);
                                    border: 2px solid var(--color-characteristic-border);
                                    height: 39px;
                                }
    
                                .adjustedvalues-left {
                                    background: var(--color-hardpoint-background-1);
                                    color: var(--color-hardpoint-text);
                                    width: 1rem;
                                    border-radius: 0 0.5rem;
                                    border: 1px solid transparent;
    
                                    &.positive {
                                        background: var(--color-hardpoint-background-2);
                                    }
                                }
                            }
    
                        }
                    }
                }

            }

            .item-sheet-itemattachment {
                .characteristics {
                    .adjustedvalues-left {
                        display: none;
                    }
                }

            }

            .item-sheet-specialization,
            .item-sheet-forcepower,
            .item-sheet-signatureability {

                overflow-y: auto;
                overflow-x: hidden;
                height: inherit;
                scrollbar-color: var(--color-background-1) var(--color-scrollbar-track);
                min-width: 705px;

                .sheet-header {
                    .header-fields {
                        .talent-actions {
                            top: 10px;
                            right: 15px;
                        }

                        .talent-required {
                            bottom: 0;
                            right: 0;
                            position: absolute;
                            z-index: 10;
                            width: auto;
                            --notchSize: 0.5rem;
                            clip-path: polygon(0% var(--notchSize),
                                    var(--notchSize) 0%,
                                    100% 0%,
                                    100% 0%,
                                    100% 100%,
                                    100% 100%,
                                    var(--notchSize) 100%,
                                    0% var(--notchSize));

                            input {
                                width: 1rem;
                                height: 0.75rem;
                                border: 0;
                            }
                        }
                    }
                }

                .sheet-body {
                    .talent-block {
                        .talent-background {

                            .talent-header {
                                display: flex;
                                justify-content: flex-start;
                                align-items: flex-start;

                                .talent-name {
                                    height: 2rem;
                                    position: relative;
                                    top: unset;
                                    right: unset;
                                    text-align: left;
                                    margin-left: 5px;

                                    span.input {
                                        position: unset;
                                        font-size: var(--font-size-12);
                                        display: inline-block;

                                    }
                                }

                                .talent-modifiers {
                                    bottom: unset;
                                    color: white;
                                    max-width: calc(100% - 25px);
                                    font-size: var(--font-size-12);

                                }
                            }
                        }
                    }
                }

                .talent-cost,
                .talent-required {
                    font-size: var(--font-size-12);
                    height: var(--font-size-12);
                    padding: 0 0.5rem;
                    background: #ddd;

                    input {
                        background: rgba(0, 0, 0, 0.05);
                    }
                }
            }
        }
    }
}