@charset "UTF-8";

@use "abstracts" as *;

@use "layout/scroll";
@use "layout/containers";
@use "layout/tab";

@use "components/ffg-block";
@use "components/navigation";
@use "components/form";
@use "components/title";
@use "components/characteristics";
@use "components/pill-items";
@use "components/content-link";
@use "components/name";
@use "components/picture";
@use "components/defence";
@use "components/crew";
@use "components/dice-pool";
@use "components/skills";
@use "components/items";

//add actor character sheet
@use "pages/actor";

//Add journal sheet
@use "pages/journal";

//Add item sheet
@use "pages/item";

//Add settings form
@use "pages/settings";

.starwarsffg.sheet.actor {
    &.ffg-alternative {

        .window-content {
            --window-padding: 0 5px;

            nav.sheet-tabs {
                &.tabs {
                    background: #d8cbc0 url(../../../../systems/starwarsffg/images/bgSheet.jpg) no-repeat;
                }
            }

            .header-fields>div {
                padding: var(--window-padding);
            }

            .sheet-body {
                .tab {
                    padding: var(--window-padding);
                }
            }
        }
    }
}

.starwarsffg.sheet.item {
    &.ffg-alternative {

        .window-content {
            --window-padding: 0 5px;

            nav.sheet-tabs {
                &.tabs {
                    background: #d8cbc0 url(../../../../systems/starwarsffg/images/bgWindow.jpg) no-repeat;
                }
            }

            .header-fields>div {
                padding: var(--window-padding);
            }

            .sheet-body {
                .tab {
                    padding: var(--window-padding);
                }
            }
        }
    }
}